<!DOCTYPE html>
<html lang="ch-zn">
<head>
    <meta charset="UTF-8">
    <title>小流氓科研中心</title>
    <link rel="shortcut icon" href="/public/images/ico/spider2.png">

    <link rel="stylesheet" href="/public/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/iconfont.css?t=123" media="all">
    <link rel="stylesheet" href="/css/bbf.css?t=123" media="all">
    <link rel="stylesheet" href="/css/book.css?t=123" media="all">

    <script type="text/javascript" src="/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/public/static/layui/layui.all.js"></script>
    <script type="text/javascript" src="/js/libs/art-template/template-web.js"></script>
</head>
<style>
</style>
<body>
<div class="window">
    <div class="search-box">

    </div>
    <div class="book-table">
        <div> books </div>
    </div>
</div>

<script type="text/html" id="bookItem">
    <tr>
        {{include 'tableViewItemCheckId'}}
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td>
            <a href="<%= opts.url.check %><%= item.id %>" target="_blank">检查</a>
            | <a href="<%= opts.url.run %><%= item.id %>" target="_blank">蜘蛛</a>
            | <a href="<%= opts.url.down %><%= item.id %>" target="_blank">下载</a>
            | <a href="<%= opts.url.read %><%= item.id %>" target="_blank">阅读</a>
        </td>
        <td>
            <a href="<%= item.link %>" target="_blank">目录</a>
            | <a href="<%= item.first_link %>" target="_blank">首页</a>
        </td>
        <td><%= item.title %></td>
    </tr>
</script>

</body>

<script type="text/javascript" src="/public/min/js/common.min.js"></script>
<script type="text/javascript" src="/js/table.js"></script>
<script type="text/javascript" src="/js/book.js"></script>
<script type="application/javascript">

</script>
</html>