<!DOCTYPE html>
<html lang="ch-zn">
<head>
    <meta charset="UTF-8">
    <title>小流氓科研中心</title>
    <link rel="shortcut icon" href="/public/images/ico/spider2.png">

    <link rel="stylesheet" href="/public/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/iconfont.css?t=123" media="all">
    <link rel="stylesheet" href="/css/bbf.css?t=123" media="all">
    <link rel="stylesheet" href="/css/book.css?t=123" media="all">

    <script type="text/javascript" src="/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/public/static/layui/layui.all.js"></script>
    <script type="text/javascript" src="/js/libs/art-template/template-web.js"></script>
</head>
<style>
</style>
<body>
<div class="window">
    <div class="search-box">

    </div>
    <div class="book-table">
        <div style="padding: 4px 6px;"> books

            <div class="search-keyword-box fr">
                <input name="keyword" value="" placeholder="你输入书本" />
                <div class="btn">搜索</div>
            </div>
            <div style="clear: both; height: 0px;"></div>
        </div>
    </div>
    <div class="search-table">
        <div> books </div>
    </div>
    <div class="progress" style="position: fixed; top:0; width: 660px;">
    </div>
</div>

<script type="text/html" id="bookItem">
    <tr>
        {{include 'tableViewItemCheckId'}}
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td>
            <a href="<%= opts.url.check %><%= item.id %>" target="_blank">检查</a>
            | <a href="<%= opts.url.run %><%= item.id %>" target="_blank">蜘蛛</a>
            | <a href="<%= opts.url.down %><%= item.id %>" target="_blank">下载</a>
            | <a href="<%= opts.url.read %><%= item.id %>" target="_blank">阅读</a>
        </td>
        <td>
            <a href="<%= item.link %>" target="_blank">目录</a>
            | <a href="<%= item.first_link %>" target="_blank">首页</a>
            | <a href="javascript:void(0);" class="do-pro">进度条</a>
        </td>
        <td>
            <a url="/article/bookover" class="ajax" href="javascript:void(0);"  ajax-data="<%= item %>" target="_blank">检查</a>
        </td>
    </tr>
</script>

<script type="text/html" id="searchItem">
    <% if(item.title_link){ %>
    <tr>
        {{include 'tableViewItemCheckId'}}
        <td>{{i+1}}</td>
        <td>{{item.type}}</td>
        <td><a href="{{item.title_link}}" target="_blank">{{item.title}}</a></td>
        <td><a href="{{item.title_link}}" target="_blank">{{item.new}}</a></td>
        <td>{{item.author}}</td>
        <td>{{item.click}}</td>
        <td>{{item.update}}</td>
        <td>{{item.status}}</td>
        <td>
            <a url="/article/chek" class="ajax ajax-post" href="javascript:void(0);"  ajax-data="<%= item %>" target="_blank">检查</a>
            | <a url="/article/join" class="ajax ajax-post" href="javascript:void(0);"  ajax-data="<%= item %>" target="_blank">加入</a>
            | <a href="<%= opts.url.check %><%= item.id %>" target="_blank">检查</a>
            | <a href="<%= opts.url.run %><%= item.id %>" target="_blank">蜘蛛</a>
            | <a href="<%= opts.url.down %><%= item.id %>" target="_blank">下载</a>
            | <a href="<%= opts.url.read %><%= item.id %>" target="_blank">阅读</a>
            | <a href="<%= opts.url.read %><%= item.id %>" target="_blank">未完成</a>
        </td>
    </tr>
    <% } %>
</script>

<script type="text/html" id="progressItem">
    <div style="height:45px;overflow:hidden;">
        <div style="position: relative; height: 0; top:15px; left: 50px;"> 等待加载</div>
        <iframe id="{{id}}" src="{{url}}" name="t2"></iframe>
    </div>
</script>

</body>

<script type="text/javascript" src="/public/min/js/common.min.js"></script>
<script type="text/javascript" src="/js/table.js"></script>
<script type="text/javascript" src="/js/book.js"></script>
<script type="application/javascript">

</script>
</html>