<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="/public/static/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/css/menu.css?t=123" media="all">
    <link rel="stylesheet" href="/css/bbf.css?t=123" media="all">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/static/layui/layui.all.js"></script>
</head>
<body>
<div class="window">
    <div id="left">
        <div class="top-tip">
            <div class="button menu-show-all" title="展开所有">+</div>
            <div class="button menu-hide-all" title="隐藏所有">-</div>
            <div class="button ajax pull" url="/?a=font_goods_html/html&is_ajax=1" ajax-cb="pullCb" title="pull">pull</div>
        </div>
        <div class="main scroll">
            <ul class="menu-level padded">
                <li class="menu-node">
                    <div class="menu-text">一级菜单top</div>
                </li>
                <li class="menu-node">
                    <div class="menu-text">一级菜单</div>
                    <ul class="menu-next">
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                            <ul class="menu-next">
                                                <li class="menu-node">
                                                    <div class="menu-text">五级菜单</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                            <ul class="menu-next">
                                                <li class="menu-node">
                                                    <div class="menu-text">五级菜单</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-node">
                    <div class="menu-text">一级菜单一级菜单一级菜单一级菜单一级菜单一级菜单一级菜单</div>
                    <ul class="menu-next">
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-node">
                    <div class="menu-text">一级菜单</div>
                    <ul class="menu-next">
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                            <ul class="menu-next">
                                                <li class="menu-node">
                                                    <div class="menu-text">五级菜单</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                            <ul class="menu-next">
                                                <li class="menu-node">
                                                    <div class="menu-text">五级菜单</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-node">
                    <div class="menu-text">一级菜单</div>
                    <ul class="menu-next">
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="toggle-box point">
        <div class="toggle-icon">》</div>
    </div>


    <div id="right">
        <div class="main">
            <!--<div style="width: 600px;">打死爱大地撒大死大所地一i31i31i31sad所大所多电视剧爱的骄傲的巨大经济安静安静安静安静骄傲骄傲积极上进十-->
                <!--几岁开始看书看书看看书看书看看书看书看书看书看看书看书看书看看书看书看书看书看书看书看书看书看看书看书看书看看书看书看书看书看书看书看书看书看看书看书看书看看-->
            <!--</div>-->
            <iframe id="myIframe" name="myIframe" onload="loadFrame(this)" src="/index.html"></iframe>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="application/javascript">
    function loadFrame(obj) {
        try {
            var url = obj.contentWindow.location.href;
        } catch (e) {
            console.log("not allow.");
            return;
        }
        console.log(url)
    }
    //
    // function setStorage(key, value) {
    //     localStorage.setItem(key, JSON.stringify(value));
    // }
    //
    // function getStorage(key) {
    //     var str = localStorage.getItem(key);
    //     return str ? JSON.parse(str) : [];
    // }
    //
    // function pushStorage(key, value) {
    //     var store = getStorage(key);
    //     for (var i in store) {
    //         var item = store[i];
    //         if (item == value) {
    //
    //             return;
    //         }
    //     }
    //     store.push(value);
    //     setStorage(key, store);
    // }

    function menu() {

        this.show = function () {

        };

        this.hide = function () {

        };

        return this;
    }
</script>
<script type="application/javascript">
    // window.entryJS = "/js/menu.js";
</script>
</html>