<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="/public/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/bbf.css?t=123" media="all">
    <link rel="stylesheet" href="/css/menu.css?t=123" media="all">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/static/layui/layui.all.js"></script>
</head>
<body>
<div class="window">
    <div id="left">
        <div class="top-tip">
            <div class="auto-box">
                <div class="button menu-show-all" title="展开所有">+</div>
                <div class="button menu-hide-all" title="隐藏所有">-</div>
                <div class="button ajax pull" url="/?a=font_goods_html/html&is_ajax=1" ajax-data="pullData" ajax-cb="pullCb" title="pull">
                    pull
                </div>
            </div>
            <div class="bbf-tabs">
                <div class="bbf-tabs-select">
                    <span class="bbf-tabs-item">STORE</span>
                    <span class="bbf-tabs-item active">pull</span>
                    <span class="bbf-tabs-item">3</span>
                    <span class="bbf-tabs-item">4</span>
                </div>
                <div class="bbf-tabs-list">
                    <div class="bbf-tabs-list-item">
                        <div class="auto-box">
                            <div class="button set-title">title</div>
                            <div class="button sort">sort</div>

                            <div class="ajax button"
                                 url="/upload/get?method=menu&id=<?php echo $_GET['id']; ?>"
                                 ajax-data="pullData()" ajax-cb="pullCb">pull
                            </div>
                            <div class="ajax ajax-post button"
                                 url="/upload/json?method=menu&id=2"
                                 ajax-data="storeData()">push
                            </div>
                            <span style="float: right" id="loader" title="玩命加载中......"></span>
                        </div>
                    </div>
                    <div class="bbf-tabs-list-item" style="display: block;">
                        <div class="auto-box">
                            <p>
                                url: <input name="pull_url" value=""/>
                            </p>
                            <p>
                                extra: <input name="extra" value=""/>
                            </p>
                        </div>
                    </div>
                    <div class="bbf-tabs-list-item">1231</div>
                    <div class="bbf-tabs-list-item">1123</div>
                </div>
            </div>
        </div>
        <div class="main scroll">
            <ul class="menu-level padded">

                <li class="menu-node">
                    <div class="menu-text">一级菜单top</div>
                </li>
                <li class="menu-node">
                    <div class="menu-text">一级菜单</div>
                    <ul class="menu-next">
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                            <ul class="menu-next">
                                                <li class="menu-node">
                                                    <div class="menu-text">五级菜单</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                            <ul class="menu-next">
                                                <li class="menu-node">
                                                    <div class="menu-text">五级菜单</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-node">
                    <div class="menu-text">一级菜单一级菜单一级菜单一级菜单一级菜单一级菜单一级菜单</div>
                    <ul class="menu-next">
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-node">
                    <div class="menu-text">一级菜单</div>
                    <ul class="menu-next">
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                            <ul class="menu-next">
                                                <li class="menu-node">
                                                    <div class="menu-text">五级菜单</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                            <ul class="menu-next">
                                                <li class="menu-node">
                                                    <div class="menu-text">五级菜单</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-node">
                    <div class="menu-text">一级菜单</div>
                    <ul class="menu-next">
                        <li class="menu-node">
                            <div class="menu-text">二级菜单</div>
                            <ul class="menu-next">
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-node">
                                    <div class="menu-text">三级菜单</div>
                                    <ul class="menu-next">
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                        <li class="menu-node">
                                            <div class="menu-text">四级菜单</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="toggle-box point">
        <div class="toggle-icon">》</div>
    </div>


    <div id="right">
        <div class="top-tip">
            <a href="#" target="myIframe" style="color: #555;">首页</a>
            <span> > </span>
            <a id="menu_nav_link" href="#" target="myIframe" style="color: #565;">unkonw</a>


            <div style="float: right;">
                <div class="button get-title"></div>
                <div class="progress-bar">
                    <div class="bar"></div>
                </div>
                <div class="button full-window-btn">full</div>
                <input placeholder="重命名" id="re_name" name="re_name" value=""
                       style="float: right; border: 0; height: auto; margin-right: 10px; padding: 2px 5px; font-size: 16px;"/>
            </div>
        </div>
        <div class="main">
            <iframe class="full-window" id="myIframe" name="myIframe" onload="onloadFrame(this)"
                    src="/index.html"></iframe>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="application/javascript">

</script>
<script type="application/javascript">
    // window.entryJS = "/js/menu.js";
</script>
</html>