<style>
.page{
    padding-top: 10px;
    text-align: center;
}
.page > div{
    display: inline-block;
    padding: 0px 3px;
    text-align: center;
    min-width: 24px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
}
.page > div:hover{
    background: #aaa;
    color: #fff;
}
.page  input{
    width: 50px; 
    padding: 0 2px;
    height: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    line-height:  30px
}
</style>
<script type="text/html" id="tableView">
    <table class=" book-box">
        <thead> 
            <tr>
                <% for (var i = 0; i < list.length; i ++) { %>
                <td class="">{{#list[i].title}} </td>
                <% } %>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot class="page">
        </tfoot>
    </table>
    <div class="table-footer">
        <div class="tpage"></div>
    </div>
</script>

<script type="text/html" id="tableViewPage">
    <div class="page">
            <div >首页</div>
            <div >上一页</div>{{$page}}
            <% for (var i = page.start; i <= page.end; i ++) { %>
            <div onclick="bookv.goPage({{i}})" >{{i}}</div>
            <% } %>
            <!-- <div>...</div> -->
            <!-- <div>5</div> -->
            <!-- <div>6</div> -->
            <!-- <div>7</div> -->
            <!-- <div>...</div> -->
            <div>下一页</div>
            <div>尾页</div>
            <div>共{{obj.total}}条</div>
            <div>第{{obj.paged+1}}页</div>
            <div>共{{obj.total_page}}页</div>
            <input placeholder="页码" type="number" />
            <div>GO</div>
    </div>
</script>

<script type="text/html" id="tableViewItem">
    <% for (var i = 0; i < list.length; i ++) { %>
    <tr>
        <%= list[i] %>
        <% for (var k = 0; k < obj.data.length; k ++) { %>
            <td class=""><%= list[i][obj.data[k].key] %></td>
        <% } %>
    </tr>
    <% } %>
</script>