<style>.form-item {
    padding: 2px 8px 2px 4px;
    float: left;
}

.form-item input {
    padding: 2px 4px;
}</style>
<form action='' method='get'>
    <div class='form-item'>
        <?php
        foreach ($fields as $item) {

            switch ($item['type']) {
                case 's':
                    break;
                default:
                    view("fields/text", $item);
                    break;
            }
        }
        ?>
    </div>

    <div style='clear:both'></div>

    <div class='form-item' style='float: right;'><input type='submit' value='提交'></div>
</form>