<?php if($fields['type'] == 'create'){ ?>
<?php if($fields['is_new']){ ?>
<style>
    body {
        background: #fff;
    }

    .progress-bar-box {
        width: 99%;
        max-width: 780px;
    }

    .progress-bar-box > div {
        float: left;
        height: 30px;
        line-height: 30px;
    }

    .progress-bar-box .progress-lable {
        max-width: 48px;
        padding: 0 4px 0 0;
    }

    .progress-bar-box .progress-bar {
        width: 100%;
        max-width: 500px;
        border: #000000 solid 1px;
    }

    .progress-bar-box .progress-num {
        width: 45px;
        padding-left: 5px;
    }

    .progress-bar-box .progress-bar #progress-jump {
        background: #0000FF;
        width: 1px;
        height: 100%;
        transition: width 1.5s;
    }
</style>
<?php }else{ echo '</div>';} ?>
<div class="progress-bar-box">
    <div id="progress-lable" class="progress-lable">进度1</div>
    <div class="progress-bar">
        <div id="progress-jump" class="progress-jump"></div>
    </div>
    <div id="progress-num" class="progress-num"></div>
    <div style="clear: both; float: unset;height: 0;"></div>
</div>

<script type="text/jscript">
        function show_ob(value){
            document.getElementById("progress-jump").style.width =value;
            document.getElementById("progress-num").innerHTML = value;
        }
        show_ob(0);

</script>
<div id="scriptBox">
<?php } ?>
<?php if($fields['type'] == 'push'){ ?>
    <script>show_ob("<?php echo $fields['value']; ?>");</script>

    <?php if($fields['clear']){ ?>
    </div><div id="scriptBox"><script>var child = document.getElementById("scriptBox");child.parentNode.removeChild(child);</script>
    <?php } ?>
    <?php if($fields['end']){ ?>
    <script>parent.close_progress && parent.close_progress(this.frameElement.id)</script></div>
    <?php } ?>
<?php } ?>